<ng-container *ngIf="gameEvent">
  <h4>Event Name: {{gameEvent.name}}</h4>
  <p>Date: {{gameEvent.date }}</p>
  <h6>Proponowane gry:</h6>
  <ul *ngFor="let item of gameEvent.games">
    <li *ngIf="item">{{item}}</li>
  </ul>
  <hr>
  <div class="text-right">
    <button class="ml-auto" mat-button (click)="toggleComment()">Add Comment</button>
    <ng-container *ngIf="commentMode">
      <form (ngSubmit)="addComment(form, gameEvent)" #form="ngForm" novalidate class="d-flex flex-column">
        <textarea ngModel name="comment" id="" cols="30" rows="10" class="flex-2"></textarea>
        <div class="text-center">
          <button mat-button type="submit" class="mr-3">Add Comment</button>
          <button mat-button type="button" (click)="toggleComment()">Cancel</button>
        </div>
      </form>
    </ng-container>
  </div>
</ng-container>

<hr>

<ng-container *ngIf="!!commentsArray">
  <div class="comments-container pl-3 pr-3">
    <div *ngFor="let item of commentsArray" class="comments-container border d-flex m-1">
      <div class="m-3">
        <p class="text-center w-100 comment-author">{{item.creatorName}}</p>
        <div class="avatar">
          <img src=`${item.creatorAvatar}` alt="avatar" *ngIf="item.creatorAvatar; else avatarPic">
          <ng-template #avatarPic>
            <img src="../../../assets/150631-OUD927-864.jpg" alt="avatar" id="siteAvatar">
          </ng-template>
        </div>
      </div>
      <p class="text-center mt-5 ml-auto mr-auto">{{item.comment}}</p>
    </div>
  </div>
</ng-container>


