<h2 class="w-100 text-center">Gameplay gameDays</h2>
<div class="text-center" *ngFor="let gameDay of eventsList; let i = index">
  <mat-card class="text-center">
    <mat-card-header
    class="justify-content-center"
    (mouseenter) = "onHoverEnter($event)"
    (mouseleave)="onHoverLeave($event)"
    id="{{gameDay.date}}">
      <mat-card-title>
        <span class="text-primary mr-3 p-2 border-right">{{gameDay.date}} </span> <span class="mr-3 p-2 border-right"> {{gameDay.name}} </span>
      </mat-card-title>
      <mat-card-subtitle>
        Added by {{gameDay.creator}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <div class="text-center w-100 border-top">
        <button mat-button (click)="goEvent(gameDay)">View Event</button>
        <button class="ml-auto" mat-button (click)="editEvent(gameDay)">Edit</button>
        <button class="ml-auto" mat-button (click)="deleteEvent(gameDay)">Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
