<mat-card>
	<mat-card-header class="title">
		<mat-card-title>News!</mat-card-title>
	</mat-card-header>
	<mat-card-content
		class="d-flex flex-column justify-content-center align-items-center"
	>
		<h4>Start - 03.2019</h4>
		<span
			>Wystartowałem apkę! Na razie w bardzo ograniczonym zakresie. Plan
			prac:</span
		>
		<ul>
			<li>Profil użytkownika - avatar/zmiana danych</li>
			<li>Wyszukiwarka gier korzystająca z API Board Game Geek</li>
			<li>
				TOP 10 użytkowników i zbiorcze top 10 naszego klubu
				planszówkowego
			</li>
		</ul>
		<h4>Update - 30.07.2020</h4>
		<p>
			Ver. 2.0 apki jest online. Większość funkcjonalności docelowych apki
			już jest.
		</p>
		<p>
			Teraz pracuję nad widokami, kontrolą ew. błędów i obsługą komentarzy
		</p>
	</mat-card-content>
</mat-card>
