* {
	font-family: 'Montserrat';
}

h4 {
	font-weight: 600;
}

.mat-card-title {
	font-size: 26px;
	font-weight: 700;
	margin: 0 !important;
}

.title {
	justify-content: center;
	background: #251f25;
	color: #6c6355;
	margin: -16px !important;
	margin-bottom: 16px !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
