<!-- <mat-grid-list cols="4" rowHeight="fit" id="site-frame">
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <div class="header">
      <div class="page-title-container">
        <h1 class="page-title">GameDay Planner</h1>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
      <app-navigation class="w-100" [loginState]="uid"></app-navigation>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="14" class="router-outlet w-100" >
    <router-outlet></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <app-footer class="w-100 h-100"></app-footer>
  </mat-grid-tile>
</mat-grid-list> -->



<div id="site-frame">
  <div class="header">
    <div class="page-title-container">
      <h1 class="page-title">GameDay Planner</h1>
    </div>
  </div>
  <div class="navigation">
    <app-navigation [loginState]="uid"></app-navigation>
  </div>
  <div class="router-outlet mb-auto">
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
