<div class="container profile-wrapper">
	<div class="data-section row justify-content-between">
		<div
			class="profile-data flex-column d-flex justify-content-center align-items-start col-8"
		>
			<ng-container *ngIf="!edit; else editTemplate">
				<h5>
					Name: <span class="ml-2">{{ userData.userName }}</span>
				</h5>
				<h5>
					AvatarURL: <span class="ml-2">{{ userData.photoURL }}</span>
				</h5>
			</ng-container>
			<ng-template #editTemplate>
				<form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
					<mat-form-field class="w-100">
						<h5>
							Name:
							<input
								matInput
								ngModel
								name="name"
								type="text"
								[value]="userData.userName"
								class="ml-3 mr-3 mt-3 text-primary"
							/>
						</h5>
					</mat-form-field>
					<mat-form-field class="w-100">
						<h5>
							AvatarURL:
							<input
								matInput
								type="text"
								ngModel
								name="photoURL"
								[value]="userData.photoURL"
								class="ml-3 mr-3 mt-3 text-primary"
							/>
						</h5>
					</mat-form-field>
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
					<button
						class="btn btn-danger ml-5"
						(click)="editPersonalDataToggle()"
					>
						Cancel
					</button>
				</form>
			</ng-template>
		</div>
		<div class="avatar col-3">
			<img
				src="{{ userData.photoURL }}"
				alt="avatar"
				*ngIf="userData.photoURL; else avatarPic"
			/>
			<ng-template #avatarPic>
				<img src="" alt="avatar" id="siteAvatar" />
			</ng-template>
		</div>
	</div>

	<div class="text-center mt-5" *ngIf="!edit">
		<button class="btn btn-primary ml-3" (click)="editPersonalDataToggle()">
			Change Display Data
		</button>
	</div>
</div>
