@mixin box {
	box-shadow: 2px 2px 2px 2px #7c7a7a;
	border-radius: 2px;
	background-color: white;
	color: black;
	padding: 15px;
}

.avatar {
	border: 1px solid antiquewhite;
	overflow: hidden;
	display: flex;
	justify-content: center;
	max-width: 240px;
	height: 220px;
	@include box();
	img#siteAvatar {
		object-fit: contain;
	}
	img {
		object-fit: scale-down;
	}
}

.profile-wrapper {
	font-family: 'Concert One', cursive;
	margin-top: 30px;
}

.profile-data {
	@include box();
}

.top-games {
	@include box();
	color: black;
	.title-section {
		height: 85px;
	}
}

.rounded-button {
	width: 40px;
	height: 40px;
}
