<div class="w-100 d-inline-flex">
	<!-- <app-comment-avatar
		[userName]="comment.creatorName"
		[avatarURL]="comment.creatorAvatar"
	></app-comment-avatar> -->
	<div class="w-100">
		<!-- <p class="text-center w-100 comment-author">
			{{ comment.creatorName }}
		</p> -->
		<p class="text-center mt-5 ml-auto mr-auto">{{ comment.comment }}</p>
	</div>
</div>
<div class="w-100 d-flex justify-content-center">
	<p
		(click)="replyIndicator = !replyIndicator"
		class="d-inline-flex align-items-center pointer"
	>
		<mat-icon>arrow_drop_down</mat-icon>
		<span class="text-uppercase">Reply</span>
	</p>
</div>
<app-add-comment *ngIf="replyIndicator"></app-add-comment>
