@mixin score($color) {
	border: 3px solid $color;
	color: $color;
}
.mat-card {
	position: relative;
	background-color: white;
	.mat-card-header {
		color: black;
		display: flex;
		justify-content: center;
	}
}

.position {
	margin: 0 20px;
	font-weight: 700;
	font-size: 30px;
	color: #251f25;
}

.list-container {
	width: 100%;
	font-size: 22px;
	font-family: 'Montserrat';
	font-weight: 500;
	position: relative;
	display: inline-flex;
	align-items: center;
	color: black;
	// justify-content: center;
}

.score {
	border-radius: 5px;
	// background-color: #6c6355;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
}

.top {
	@include score(goldenrod);
}

.second {
	@include score(silver);
}

.game {
	@include score(#251f25);
}

.image {
	img {
		width: 150px;
		height: 150px;
	}
}
