<form
	(ngSubmit)="addComment()"
	#form="ngForm"
	novalidate
	class="d-flex flex-column comments-container text-center mx-auto"
>
	<div class="d-inline-flex w-100">
		<app-comment-avatar
			[avatarURL]="user.photoURL"
			[userName]="user.userName"
		></app-comment-avatar>
		<textarea
			[(ngModel)]="commentText"
			name="comment"
			cols="30"
			rows="1"
			class="w-100 ml-2"
			(focus)="commentMode = true"
		></textarea>
	</div>
	<div class="text-center mt-2" *ngIf="commentMode">
		<div class="wrapper">
			<button
				mat-raised-button
				color="warn"
				type="reset"
				(click)="disableCommentMode()"
			>
				Cancel
			</button>
			<button
				mat-raised-button
				color="primary"
				type="submit"
				class="ml-2"
			>
				Add Comment
			</button>
			<div class="spinner-container" *ngIf="isLoading">
				<mat-spinner
					mode="indeterminate"
					[diameter]="24"
					color="warn"
				></mat-spinner>
			</div>
		</div>
	</div>
</form>
