.calendar-header {
	button {
		width: 40px;
		text-align: center;
		color: white;
		font-family: 'Alfa Slab One', cursive;
		font-weight: 700;
		border: 1px solid #fbc60f;
		&:hover {
			background-color: #fbc60f;
			color: white;
			border-color: white;
		}
	}
}

h5 {
	line-height: 2.5rem;
}
td {
	font-family: 'Alfa Slab One', cursive;
	font-weight: 400;
	width: 50px;
	height: 50px;
}

th {
	font-family: 'Alfa Slab One', cursive;
	font-weight: 400;
	text-decoration: underline;
}

.buttons-section button {
	background-color: #212121;
	color: white;
}

.calendar-bg {
	background-color: #646c67;
	padding: 10px 0;
	border-radius: 4px;
}
