.calendar-header {
  button {
    width: 40px;
    text-align: center;
  }
}

h5 {
  line-height: 2.5rem;
}
td {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.buttons-section button {
  background-color: #222211;
  color: white;
}
