/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Concert+One|Permanent+Marker|Montserrat');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	color: #000;
	font-family: 'Montserrat';
	// height: 100%;
	// background: linear-gradient(#2f3031, #0a0a0a);
}

app-main,
mat-grid-list {
	height: 100%;
}

.mat-card {
	border: 2px solid #251f25;
	background-color: #646c67;
	color: white;
	h4 {
		font-weight: 600;
	}
}

.mat-card-title {
	font-size: 26px;
	font-weight: 700;
	margin: 0 !important;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 2px;
}

.title {
	justify-content: center;
	background: #251f25;
	color: #6c6355;
	padding: 24px;
	margin: -16px !important;
	margin-bottom: 16px !important;
}

.mat-form-field {
	font-size: 18px;
	color: rgb(0, 0, 0);
	font-weight: 600;
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: none;
		-webkit-text-fill-color: black;
		-webkit-box-shadow: 0 0 0px 1000px #646c67 inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}
